.dark-block {
  --btn-primary-color: #ffffff;

  --btn-secondary-border-color: #ffffff;
  --btn-secondary-color: #ffffff;

  --btn-secondary-hover-color: #c02929;
  --btn-secondary-hover-border-color: #c02929;

  --btn-link-color: #ffffff;
  --btn-link-hover-color: #787878;
}