.dark-block {
  --hero-title-color: #fff;
  --title-color: #fff;
  --subtitle-color: #fff;
  --heading-lg-color: #fff;
  --heading-color: #fff;
  --subheading-color: #fff;
  --body-color: #fff;
  --caption-color: #fff;
  --small-color: #fff;
  --quote-color: #fff;
}