.btns-group {
  &__inner {
    font-size: 0;
    margin: calc(var(--btn-offset) * -1);

    @media (max-width: 479px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .button {
    margin: var(--btn-offset);

    @media (max-width: 479px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

* + .btns-group {
  margin-top: var(--btns-group-offset);
}