.cards-list {
  list-style: none;

  @media (min-width: 768px) {
    margin-top: calc(var(--card-bottom-offset) * -1);
  }

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--gap) * -2);
  }

  &__item {
    margin-top: var(--card-bottom-offset);

    @media (min-width: 768px) {
      flex-grow: 0;
      flex-basis: calc(50% - var(--gap) * 2);
      max-width: calc(50% - var(--gap) * 2);
      margin-right: calc(var(--gap) * 2);
    }

    @media (min-width: 992px) {
      flex-basis: calc(25% - var(--gap) * 2);
      max-width: calc(25% - var(--gap) * 2);
    }
  }
}