.cards-list {
  display: flex;
  justify-content: center;
  text-align: center;

  @media (min-width: 768px) {
    justify-content: flex-start;
    text-align: left;
  }

  &__inner {
    list-style: none;

    @media (min-width: 768px) {
      margin-top: calc(var(--card-top-offset) * -1);
      display: flex;
      flex-wrap: wrap;
      margin-right: calc(var(--gap) * -2);
    }
  }

  &__item {
    margin-top: var(--card-top-offset);

    @media (min-width: 768px) {
      flex-grow: 0;
      flex-basis: calc(50% - var(--gap) * 2);
      max-width: calc(50% - var(--gap) * 2);
      margin-right: calc(var(--gap) * 2);
    }

    @media (min-width: 992px) {
      flex-basis: calc(25% - var(--gap) * 2);
      max-width: calc(25% - var(--gap) * 2);
    }
  }

  &--three-col {
    .cards-list__item {

      @media (min-width: 768px) {
        flex-basis: calc(33.3333% - var(--gap) * 2);
        max-width: calc(33.3333% - var(--gap) * 2);
      }
    }
  }
}