.card {
  width: 100%;

  &--type-2 {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 500px;
    padding: var(--box-content-padding-lg) var(--box-content-padding-md);
  }
}