.counter {
  flex-basis: var(--counter-media-width);
  max-width: var(--counter-media-width);

  &::before {
    counter-increment: process;
    content: counter(process);
    background-color: var(--dark-shade);
    display: block;
    width: 100%;
    line-height: var(--process-media-width);
    border-radius: 50%;
    color: var(--light-shade);
    text-align: center;
  }
}