.cards-list__inner {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.cards-list__item {
  flex-basis: calc(33% - var(--gap) * 2);
  max-width: calc(33% - var(--gap) * 2);

  &:last-of-type {
    margin-right: 0;
  }

  h3 {
    margin-top: var(--v-spacer3);
  }
}
