.items {
  list-style: none;

  &--horizontal {
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: calc(var(--gap) * 2);

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
      }
    }
  }
}