.layout {
  display: flex;

  &__inner {
    margin-top: calc(var(--card-top-offset) * -1);

    @media (min-width: 768px) {
      @mixin layout-wrapper;
    }
  }

  &__col {
    margin-top: var(--card-top-offset);
  }

  &--items-center {
    .layout__inner {
      align-items: center;
    }
  }
}

@for $i from 1 to 12 {
  .layout--cols-$i {
    .layout__col {

      @media (min-width: 768px) {
        @mixin layout-item 100% / $(i);
      }
    }
  }
}