.list {
  &--direction-row {
    display: flex;

    .list {
      &__inner {
        width: 100%;
        margin-top: calc(var(--card-top-offset) * -1);

        @media (min-width: 768px) {
          @mixin layout-wrapper;
        }
      }

      &__item {
        margin-top: var(--card-top-offset);
      }
    }
  }

  &--direction-column {
    display: flex;

    .list {
      &__inner {
        width: 100%;
        margin-top: calc(var(--card-top-offset) * -1);
      }

      &__item {
        margin-top: var(--card-top-offset);
      }
    }
  }

  &--gap-none {
    .list {
      &__inner {

        @media (min-width: 768px) {
          @mixin layout-wrapper wrap, 0px, 0px;
        }
      }

      &__item {

        @media (min-width: 768px) {
          margin-top: 0;
        }
      }
    }
  }
}

@for $i from 1 to 12 {
  .list--cols-$i {
    .list__item {

      @media (min-width: 768px) {
        @mixin layout-item 100% / $(i);
      }
    }

    &.list--gap-none {
      .list__item {

        @media (min-width: 768px) {
          @mixin layout-item calc(100% / $(i)), 0px, 0px;
        }
      }
    }
  }
}