.list {
  display: flex;
  counter-reset: process;

  &__inner {
    width: 100%;
    margin-top: calc(var(--card-top-offset) * -1);
  }

  &__item {
    margin-top: var(--card-top-offset);

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &--gap-none {
    .list {
      &__inner {

        @media (min-width: 768px) {
          margin-top: 0;
        }
      }

      &__item {

        @media (min-width: 768px) {
          margin-top: 0;
        }
      }
    }
  }
}