.pricing-list {
  display: flex;

  &__inner {
    @media (min-width: 768px) {
      @mixin layout-wrapper nowrap;
    }
  }


  &__item {
    @media (min-width: 768px) {
      display: flex;
      @mixin layout-item 33%;

      &--main {
        margin-top: -20px;
        margin-bottom: -20px;
      }
    }
  }
}