.socials {
  list-style: none;
  display: flex;
  margin: calc(var(--socials-item-offset) / -2);

  &__item {
    margin: calc(var(--socials-item-offset) / 2);
    font-size: 0;
  }

  &__link {
    display: block;
    color: var(--socials-background);
    transition: color .2s ease-in;

    circle {
      fill: currentColor;
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--socials-hover-background);
    }
  }
}

.socials-wrapper {
  display: flex;
  align-items: center;
  margin-top: var(--socials-top-offset);

  &--align-center {
    justify-content: center;
  }
}

.socials-heading {
  margin-right: var(--h-spacer3);
  margin-bottom: 0;
}