.tile {
  width: 100%;

  @media (min-width: 768px) {
    min-height: 360px;
  }

  &__col {
    display: flex;
  }

  &__content {
    padding: var(--box-content-padding-sm) 0;
    order: 1;

    @media (min-width: 768px) {
      order: 0;
      padding: var(--box-content-padding-md);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    @media (min-width: 992px) {
      padding: var(--box-content-padding-md) var(--box-content-padding-lg);
    }
  }

  &__image {
    position: relative;

    .picture {
      position: static;
    }
  }
}