@define-mixin decorator $offset: 10px, $width: 46px, $height: 2px, $color: var(--brand-color) {
  content: "";
  position: absolute;
  left: 0;
  width: $width;
  height: $height;
  top: calc(100% + $offset / 2);
  background-color: $color;
  transform: translateY(-50%);
}

@define-mixin decorator-parent-after $offset: 10px, this: & {
  position: relative;

  #{this} + * {
    margin-top: $offset;
  }

  #{this}.text--align-center {
    #{this}::after {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #{this}.text--align-right {
    #{this}::after {
      left: auto;
      right: 0;
    }
  }
}

@define-mixin decorator-parent-before $offset: 10px, this: & {
  position: relative;

  #{this} + * {
    margin-top: $offset;
  }

  #{this}.text--align-center {
    #{this}::after {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  #{this}.text--align-right {
    #{this}::after {
      left: auto;
      right: 0;
    }
  }
}