@define-mixin layout-wrapper {
    width: calc(100% + var(--gap) * 2);
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--gap) * -1);
    margin-left: calc(var(--gap) * -1);
}

@define-mixin layout-item $width: 25% {
    flex-basis: $width;
    max-width: $width;
    padding: 0 var(--gap);
}