%text {
  &--type {
    &-hero-title {
      font-size: var(--hero-title-size);
      font-family: var(--hero-title-family);
      font-weight: var(--hero-title-weight);
      line-height: var(--hero-title-line-height);
      color: var(--hero-title-color);

      & + * {
        margin-top: var(--hero-title-offset);
      }
    }

    &-title {
      font-size: var(--title-size);
      font-family: var(--title-family);
      font-weight: var(--title-weight);
      line-height: var(--title-line-height);
      color: var(--title-color);

      & + * {
        margin-top: var(--title-offset);
      }
    }

    &-subtitle {
      font-size: var(--subtitle-size);
      font-family: var(--subtitle-family);
      font-weight: var(--subtitle-weight);
      line-height: var(--subtitle-line-height);
      color: var(--subtitle-color);

      & + * {
        margin-top: var(--subtitle-offset);
      }
    }

    &-heading {
      font-size: var(--heading-size);
      font-family: var(--heading-family);
      font-weight: var(--heading-weight);
      line-height: var(--heading-line-height);
      color: var(--heading-color);

      & + * {
        margin-top: var(--heading-offset);
      }
    }

    &-heading-lg {
      font-size: var(--heading-lg-size);
      font-family: var(--heading-lg-family);
      font-weight: var(--heading-lg-weight);
      line-height: var(--heading-lg-line-height);
      color: var(--heading-lg-color);

      & + * {
        margin-top: var(--heading-lg-offset);
      }
    }

    &-subheading {
      font-size: var(--subheading-size);
      font-family: var(--subheading-family);
      font-weight: var(--subheading-weight);
      line-height: var(--subheading-line-height);
      color: var(--subheading-color);

      & + * {
        margin-top: var(--subheading-offset);
      }
    }

    &-caption {
      font-size: var(--caption-size);
      font-family: var(--caption-family);
      font-weight: var(--caption-weight);
      line-height: var(--caption-line-height);
      color: var(--caption-color);

      & + * {
        margin-top: var(--caption-offset);
      }
    }

    &-body {
      font-size: var(--body-size);
      font-family: var(--body-family);
      font-weight: var(--body-weight);
      line-height: var(--body-line-height);
      color: var(--body-color);

      & + * {
        margin-top: var(--body-offset);
      }
    }

    &-small {
      font-size: var(--small-size);
      font-family: var(--small-family);
      font-weight: var(--small-weight);
      line-height: var(--small-line-height);
      color: var(--small-color);

      & + * {
        margin-top: var(--small-offset);
      }
    }

    &-quote {
      font-size: var(--quote-size);
      font-family: var(--quote-family);
      font-weight: var(--quote-weight);
      line-height: var(--quote-line-height);
      color: var(--quote-color);

      & + * {
        margin-top: var(--quote-offset);
      }
    }
  }
}