@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

:root {

  /*--------- GENERAL ----------*/

  --btn-radius: 4px;
  --btn-text-decoration: none;
  --btn-text-transform: none;
  --btn-line-height: 1;
  --btn-family: var(--base-family);

  /*--------- PRIMARY ----------*/

  --btn-primary-background-color: var(--brand-color);
  --btn-primary-background-image: none;
  --btn-primary-color: var(--light-shade);
  --btn-primary-family: var(--btn-family);

  /*--------- PRIMARY [hover] ----------*/

  --btn-primary-hover-background-color: var(--brand-color-darken-10); /* Darken colors must generate in editor */
  --btn-primary-hover-background-image: none;
  --btn-primary-hover-shadow: none;

  /*--------- SECONDARY ----------*/

  --btn-secondary-background-color: transparent;
  --btn-secondary-color: var(--brand-color);
  --btn-secondary-radius: var(--btn-radius);
  --btn-secondary-family: var(--btn-family);
  --btn-secondary-border-type: solid;
  --btn-secondary-border-color: currentColor;
  --btn-secondary-border-size: 1px;
  --btn-secondary-border: var(--btn-secondary-border-size) var(--btn-secondary-border-type) var(--btn-secondary-border-color);

  /*--------- SECONDARY [hover] ----------*/

  --btn-secondary-hover-background-color: transparent;
  --btn-secondary-hover-color: var(--brand-color-darken-10); /* Darken colors must generate in editor */;;
  --btn-secondary-hover-border-type: solid;
  --btn-secondary-hover-border-color: var(--brand-color-darken-10); /* Darken colors must generate in editor */;
  --btn-secondary-hover-border-size: 1px;
  --btn-secondary-hover-border: var(--btn-secondary-hover-border-size) var(--btn-secondary-hover-border-type) var(--btn-secondary-hover-border-color);

  /*--------- LINK ----------*/

  --btn-link-color: var(--brand-color);
  --btn-link-background-color: transparent;
  --btn-link-text-decoration: underline;
  --btn-link-text-transform: none;

  /*--------- LINK [hover] ----------*/

  --btn-link-hover-color: var(--brand-color);
  --btn-link-hover-text-decoration: none;

  /*--------- SIZES ----------*/

  --btn-sm-padding: 0.9em 1.8em;
  --btn-sm-font-size: 14px;
  --btn-sm-radius: var(--btn-radius);
  --btn-md-padding: 1em 2em;
  --btn-md-font-size: var(--base-font);
  --btn-sm-radius: var(--btn-radius);
  --btn-lg-padding: 1em 2em;
  --btn-lg-font-size: 18px;
  --btn-sm-radius: var(--btn-radius);

  --btn-link-padding: 0.3125em 0;
  --btn-link-font-size: var(--base-font);

  --btn-offset: var(--gap)
}