:root {
  --hero-title-size: 2.441rem;
  --hero-title-line-height: var(--base-line-height);
  --hero-title-color: #000;
  --hero-title-offset: var(--v-spacer3);
  --hero-title-family: var(--base-family);
  --hero-title-weight: 700;

  --title-size: 1.953rem;
  --title-line-height: 1.1875;
  --title-color: #000;
  --title-offset: var(--v-spacer3);
  --title-family: var(--base-family);
  --title-weight: 400;

  --subtitle-size: 1.25rem;
  --subtitle-line-height: 1.6;
  --subtitle-color: #676767;
  --subtitle-offset: var(--v-spacer3);
  --subtitle-family: var(--base-family);
  --subtitle-weight: 400;

  --heading-size: 1.563rem;
  --heading-line-height: 1.333;
  --heading-color: #000;
  --heading-offset: var(--v-spacer3);
  --heading-family: var(--base-family);
  --heading-weight: 400;

  --subheading-size: 1.125rem;
  --subheading-line-height: 1.333;
  --subheading-color: #676767;
  --subheading-offset: var(--v-spacer2);
  --subheading-family: var(--base-family);
  --subheading-weight: 400;

  --heading-lg-size: 2rem;
  --heading-lg-line-height: 1.2187;
  --heading-lg-color: #000;
  --heading-lg-offset: var(--v-spacer3);
  --heading-lg-family: var(--base-family);
  --heading-lg-weight: 400;

  --caption-size: 0.875rem;
  --caption-line-height: 1.4285;
  --caption-color: #979797;
  --caption-offset: var(--v-spacer2);
  --caption-family: var(--base-family);
  --caption-weight: 400;

  --body-size: var(--base-font);
  --body-line-height: 1.5;
  --body-color: #676767;
  --body-offset: var(--v-spacer2);
  --body-family: var(--base-family);
  --body-weight: 400;
}