.text {
  &--type {
    &-title {
      &.text--decorated {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 46px;
          height: 2px;
          top: calc(100% + 10px);
          background-color: var(--brand-color);
        }

        & + * {
          margin-top: var(--v-spacer5);
        }
      }
    }
  }
}