:root {
  --light-shade: #FFFFFF;
  --light-accent: #B940AA;
  --brand-color: #32bbcb;
  --dark-accent: #4748D6;
  --dark-shade: #272F3C;

  --brand-color-darken-10: #2ca8b6; /* Must generate in editor */
}