[data-block="about-w2"] {
  text-align: center;

  .socials-wrapper {
    justify-content: center;
  }

  .picture {
    padding-top: 27.4%;
  }

  .section__content {
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }

  .picture-wrapper {
    & + * {
      margin-top: var(--v-spacer6);
    }
  }
}

[data-block="about-w3"] {
  padding: 0;

  .layout {
    margin-right: 0;

    &__col{
      margin-right: 0;

      &:nth-child(2) {
        padding: var(--box-content-padding-lg);
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

[data-block="about-w4"] {
  text-align: center;

  .socials-wrapper {
    justify-content: center;
  }

  .cards-list__item {
    flex-basis: calc(33.33333% - var(--gap) * 2);
    max-width: calc(33.33333% - var(--gap) * 2);
  }
}