[data-block="awards-w2"] {
  .section__content {
    display: flex;
  }

  .section__header {
    margin-right: 30px;
    width: 270px;
    flex-shrink: 0;

    & + * {
      margin-top: 0;
    }
  }
}