/* check */[data-block="contacts"] {
  .layout__col {
    &:nth-child(1) {
      flex: 1;
      max-width: none;
    }

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* @mixin layout-item 270px; */
    }
  }

  .text--type-heading {
    & + * {
      margin-top: 0;
    }
  }

  .logo-wrapper {
    margin-bottom: auto;
  }
}