[data-block="contacts"] {
  .layout{
    @include layout($exception: (1: 1, 2: 270px))

    &__item {
      display: flex;
      flex-direction: column;
    }
  }

  .list {
    @include layout(100%);
  }

  .text--type-heading {
    & + * {
      margin-top: 0;
    }
  }

  .logo-wrapper {
    margin-bottom: auto;
  }
}