[data-block="footer"] {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  .layout:nth-child(1) {
    .layout {
      @include layout($exception: (1: 320px, 2: 1));
    }

    .nav-list {
      justify-content: flex-end;
    }
  }

  .layout:nth-child(2) {
    margin-top: var(--v-spacer5);

    .layout__item:nth-child(2) {
      text-align: right;
    }
  }
}