[data-block="footer"] {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  .layout {

    @media (min-width: 768px) {
      align-items: center;
    }
    &__col {
      &:nth-child(1) {

        @media (min-width: 768px) {
          max-width: 320px;
        }
      }

      &:nth-child(2) {

        @media (min-width: 768px) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }

    &:nth-child(2) {
      margin-top: var(--v-spacer3);
      padding-top: var(--v-spacer4);
      // border-top: 1px solid var(--body-color);
    }
  }

  .nav-list {
    justify-content: flex-end;
  }
}