[data-block="header"] {
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }

  .layout {
    @media (min-width: 768px) {
      @include layout($exception: (1: 320px, 2: 1));
    }

    &__inner {
      justify-content: center;
      align-items: center;
    }

    &__item {
      &:nth-child(2) {
        @media (min-width: 768px) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
    }
  }

  .nav-list {
    justify-content: flex-end;
  }

  .button {
    flex-shrink: 0;
  }
}