[data-block="process-w1"] {
  .cards-list {

    &__inner {
      counter-reset: process;
      justify-content: center;
    }

    &__item {
      @media (min-width: 992px) {
        flex-basis: calc(33% - var(--gap) * 2);
        max-width: calc(33% - var(--gap) * 2);
      }
    }
  }

  .layout {
    &__col {
      &:first-of-type {
        flex-basis: 36px;
        max-width: 36px;

        &::before {
          counter-increment: process;
          content: counter(process);
          display: block;
          width: 36px;
          height: 36px;
          line-height: 36px;
          border-radius: 50%;
          background-color: var(--brand-color);
          text-align: center;
        }
      }
    }
  }
}