.cards-list {
  &__inner {

    @media (min-width: 768px) {
      margin-top: calc(var(--card-top-offset) * -0.5);
      margin-right: calc(var(--gap) * -0.5);
    }
  }

  &__item {
    margin-top: calc(var(--gap) * 0.5);

    @media (min-width: 768px) {
      flex-basis: calc(50% - var(--gap) * 0.5);
      max-width: calc(50% - var(--gap) * 0.5);
      margin-right: calc(var(--gap) * 0.5);
    }

    @media (min-width: 992px) {
      flex-basis: calc(25% - var(--gap) * 0.5);
      max-width: calc(25% - var(--gap) * 0.5);
    }
  }

  &--three-col {
    .cards-list__item {

      @media (min-width: 768px) {
        flex-basis: calc(33.3333% - var(--gap) * 0.5);
        max-width: calc(33.3333% - var(--gap) * 0.5);
      }
    }
  }
}