html {
  box-sizing: border-box;
  font-size: var(--base-font);
  font-family: var(--base-family);
  word-wrap: break-word;
  hyphens: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}