.section {
  position: relative;

  &.dark-block {
    background-color: var(--dark-shade) !important;
  }

  &:hover {
    .controls--section {
      display: block;
    }
  }
}

.controls {
  &--section {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
  }

  &--site {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1;
  }

  &__button {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: block;
  }
}