.section {
  position: relative;

  &.dark-block {
    background-color: var(--dark-shade) !important;
  }

  &:hover {
    .controls--section {
      display: block;
    }
  }
}

.picture:hover {
  .controls {
    display: block;
  }
}

.controls {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;

  &--site {
    display: block;
    position: fixed;
    left: 10px;
    right: auto;
  }

  &__button {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: block;
  }
}