.section {
  position: relative;

  &.dark-block {
    background-color: var(--dark-shade) !important;
  }
}

.controls {
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;

  &__button {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: block;
  }
}

.section:not([data-active="true"]) {
  display: none;
}

.block {
  position: relative;

  &--fixed {
    .controls {
      top: 106px;
    }
  }

  & > .controls {
    display: none;
  }

  &:hover {
    & > .controls {
      display: block;
      z-index: 2;
    }
  }
}

body > .controls {
  display: block;
  position: fixed;
  left: 10px;
  right: auto;
  z-index: 2;
}

.as-bg {
  .picture-wrapper {
    opacity: 0;
  }
}

.has-controls {
  position: relative;

  &:hover {
    & > .controls {
      display: block;
    }
  }
}

[data-component="background"] {
  background-size: cover;
  background-repeat: no-repeat;
}